################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Practice.BookStore/.vs/Practice.BookStore/v16
/Practice.BookStore/Practice.BookStore/obj
